<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leesnriud.myservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- service -->
        <service android:name=".MyService">
            <intent-filter >
                <action android:name="com.example.leesnriud.myservice.MY_SERVICE"/>
            </intent-filter>
        </service>

        <service android:name=".MyService2">
            <intent-filter >
                <action android:name="com.example.leesnriud.myservice.MY_SERVICE2"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyService3"
            android:exported="false">
            <intent-filter >
                <action android:name="com.example.leesnriud.myservice.MY_SERVICE3"/>
            </intent-filter>

        </service>
        <service android:name=".MyService4">
            <intent-filter>
                <action android:name="com.example.leesnriud.myservice.MY_SERVICE4"/>
            </intent-filter>
        </service>

        <service android:name=".MyService5">
            <intent-filter>
                <action android:name="com.example.leesnriud.myservice.MY_SERVICE5"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <!-- 静态注册广播 -->
            <!-- intent过滤器,指定可以匹配哪些intent, 一般需要定义action 可以是自定义的也可是系统的 -->
            <intent-filter>
                <!--action-->
                <action android:name="com.example.leesnriud.myservice.ALARMRECEIVER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>